# Exercise 2: Flexible arguments: *args

In [1]:
def add_all(*args):
    total = 0
    for i in args:
        total = total + i
    return total

In [2]:
add_all(10,20,30) # 3 parameters

60

In [3]:
add_all(10,20,30,40,50,60) # 6 parameters

210

In [4]:
def add_all(manadatory,default=10,*args):
    total = 0
    for i in args:
        total = total + i
    return (manadatory,default,total)

In [6]:
add_all(1,10,20,30,40,50)

(1, 10, 140)

# more information about dictionary

In [7]:
# create dict
a_dict = {"key1":10,"key2":20,"key3":30}

In [8]:
a_dict

{'key1': 10, 'key2': 20, 'key3': 30}

In [9]:
a_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [10]:
a_dict.values()

dict_values([10, 20, 30])

In [11]:
for k,v in a_dict.items():
    print(k)
    print(v)

key1
10
key2
20
key3
30

# Exercise 3: Flexible arguments: **kwargsm

In [13]:
def print_all(**kwargs):
    for k,v in kwargs.items():
        print(k +"  " + v)

In [16]:
print_all(std1 ="robert",std2 ="Nancy",std3 = "Rabson")

std1  robert
std2  Nancy
std3  Rabson